.p-5 {
    -fx-padding: 5;
}

.p-10 {
    -fx-padding: 10;
}

.pt-5 {
    -fx-padding: 5 0 0 0;
}

.pr-5 {
    -fx-padding: 0 5 0 0;
}

.pb-5 {
    -fx-padding: 0 0 5 0;
}

.pl-5 {
    -fx-padding: 0 0 0 5;
}

.ph-5 {
    -fx-padding: 0 5 0 5;
}

.pv-5 {
    -fx-padding: 5 0 5 0;
}

.h3 {
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.bold {
    -fx-font-weight: bold;
}

.button-hbox {
    -fx-spacing: 2;
}

.border-bottom {
    -fx-border-color: lightgray;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 0 0 10 0;
}

.center-left {
    -fx-alignment: center-left;
}

.invalid-input {
    -fx-text-box-border: red;
    -fx-focus-color: red;
}