.p-5 {
    -fx-padding: 5;
}

.p-10 {
    -fx-padding: 10;
}

.pt-5 {
    -fx-padding: 5 0 0 0;
}

.pr-5 {
    -fx-padding: 0 5 0 0;
}

.pb-5 {
    -fx-padding: 0 0 5 0;
}

.pl-5 {
    -fx-padding: 0 0 0 5;
}

.ph-5 {
    -fx-padding: 0 5 0 5;
}

.pv-5 {
    -fx-padding: 5 0 5 0;
}

.h3 {
    -fx-font-size: 14;
}

.bold {
    -fx-font-weight: bold;
}